* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: #efefef;
}

/* ------------------------------------------------------ Mutual Styles ---------------------------------------------------- */

a {
  text-decoration: none;
}

.content {
  width: 85%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  width: 173px;
  border-radius: 999px;
  background: #143c3c;
  line-height: 57px;
  color: #fff;
  font-family: "Public Sans";
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
}
/* ------------------------------------------------------ Header ---------------------------------------------------- */
.header {
  padding-top: 20px;
}

.header-top {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr 173px;
  align-items: center;
  padding: 8px 0 13px 0;
}

.header-top::after {
  display: block;

  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #dddcdc 51.09%,
    rgba(213, 213, 213, 0) 99.68%
  );
}

.navbar__list {
  display: flex;
  justify-content: flex-end;
  margin-right: 88px;
}

.navbar__list-item + .navbar__list-item {
  margin-left: 38px;
}

.navbar__link {
  font-family: "Public Sans", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #575d5e;
}

.navbar__link:hover {
  color: #152427;
}

.navbar__link--active {
  position: relative;
  color: #152427;
}

.navbar__link--active::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 2px;
  position: absolute;
  bottom: -31px;
  left: 0;
  background: #143c3c;
}
/* ------------------------------------------------------ Hero ---------------------------------------------------- */
.hero {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.hero-text {
  width: 35%;
  padding-top: 43px;
}

.hero__title {
  font-family: "Public Sans", sans-serif;
  font-weight: 800;
  font-size: 5rem;
  line-height: 1.2;
  color: #152427;
}

.hero__desc {
  font-family: "Public Sans";
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #575d5e;
  margin-top: 20px;
}

.hero__cta {
  display: flex;
  margin-top: 42px;
}

.hero__video {
  display: flex;
  align-items: center;
  margin-left: 37px;
}

.play-btn__wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #83a17d;
}

.play-btn-cover {
  position: absolute;
  left: -8px;
}

.hero__video__play {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #152427;
  margin-left: 15px;
}

.hero-illustration {
  position: relative;
}

.hero-illustration__circle--linear {
  position: absolute;
  top: 20%;
  left: 25%;
  border-radius: 50%;
  z-index: -1;
  width: 340px;
  height: 340px;
  background: #4dbb9a;
  filter: blur(137px);
}

.hero-img-wrap {
  display: flex;
}

.hero__img {
  width: 202px;
  height: 466px;
  object-fit: cover;
  border-radius: 999px;
}

.hero__img + .hero__img {
  margin-left: 20px;
}

.hero__img:nth-of-type(2) {
  position: relative;
  bottom: -77px;
}
/* Hero Styles */
.styles {
  display: flex;
  z-index: 1;
  position: absolute;
}

.styles:first-of-type {
  align-items: flex-start;
  left: -35%;
  top: -10%;
}

.styles:last-of-type {
  align-items: flex-end;
  bottom: -29%;
}

.styles--string {
  position: relative;
  left: -32px;
  right: 0;
}

.styles--union {
  position: relative;
  top: -30px;
  left: -40px;
}
/* ------------------------------------------------------ Sponsors ---------------------------------------------------- */
.sponsors {
  margin-top: 207px;
}

.sponsors-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #e2eddf;
  border-radius: 999px;
  padding: 85px 122px 87px;
}

.sponsors__item {
  display: flex;
  align-items: center;
}

/* Sponsors styles */
.google {
  font-weight: 500;
  font-size: 3.1rem;
  color: #143c3c;
}

.slack {
  font-weight: 600;
  font-size: 3.2rem;
  color: #143c3c;
  margin-left: 5px;
}

.discord {
  font-weight: 400;
  font-size: 2.6rem;
  color: #163c35;
  margin-left: 11px;
}

.riotinto {
  font-family: "Sonsie One", cursive;
  font-weight: 400;
  font-size: 2.3rem;
  color: #143c3c;
}

.heroku {
  font-weight: 600;
  font-size: 1.9rem;
  letter-spacing: 0.105em;
  color: #143c3c;
  margin-left: 14px;
}
/* ------------------------------------------------------ Services ---------------------------------------------------- */
.services {
  padding-top: 106px;
  padding-bottom: 75px;
}

.service-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-top-left {
  width: 50%;
}

.services__sub-title {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.62;
  color: #152427;
  margin-left: 21px;
}

.services__sub-title::before {
  display: inline-block;
  position: relative;
  top: -10px;
  left: -21px;
  content: "";
  width: 25px;
  height: 1px;
  background: #152427;
}

.services__title {
  font-weight: 600;
  font-size: 4.2rem;
  line-height: 1.24;
  color: #152427;
  margin-top: 12px;
}

.services__title::after {
  display: inline-block;
  position: relative;
  top: -10px;
  left: 10px;
  content: "";
  width: 66px;
  height: 2px;
  background: #152427;
}

.control {
  margin-right: 73px;
}

.control__btn {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #e2eddf;
  color: #152427;
  border: none;
}

.control__btn + .control__btn {
  margin-left: 17px;
}

.control__btn:hover {
  background: #143c3c;
  color: #fff;
  cursor: pointer;
}

.services-wrap {
  margin-top: 76px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
}

.services__item:hover {
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.services__info {
  border-radius: 0 0 20px 20px;
  padding: 24px 0 0 18px;
}

.service__item__name {
  font-weight: 600;
  font-size: 2.2rem;
  color: #152427;
}

.service__item__desc {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #7d8188;
  margin-top: 18px;
  width: 70%;
}

.service__img {
  width: 370px;
  height: 318px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
/* ------------------------------------------------------ Services ---------------------------------------------------- */
